.localWrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.baseFontSize {
  font-size: 50.5%;
}

.formContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0 0 0 / 0.2);
}

.cardTitle {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--titleColor);
  font-weight: bold;
}

.formGroup {
  position: relative;
  width: 32rem;
  margin: 3rem 0;
}

.fieldLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--labelColor);
  padding: 0 0.5rem;
  pointer-events: none;
  transition: all 0.5s ease;
  left: 2.5rem;
}


.inputFields:focus ~ label,
.inputFields:valid ~ label
{
  top: 0 !important;
  font-size: 1.2rem !important;
  background-color: var(--whiteColor);
}

.inputFields {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  border: 0.1rem solid var(--labelColor);
  font-size: 1.6rem;
  color: var(--labelColor);
  background: transparent;
}

.buttons {
  background: linear-gradient(to right, #da4453, var(--mainColor));
  color: var(--whiteColor);
  text-transform: capitalize;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 1rem rgba(0 0 0 / 0.4);
}



.animatedSignInOnSignUpCard {
    animation: rotatecard 0.7s ease-in-out forwards;
  }
  
  @keyframes rotatecard {
    0% {
      transform: rotate(7deg);
    }
  
    100% {
      transform: rotate(0);
      z-index: 1;
    }
  }


.animatedSignInOnSignInCard {
  animation: signinFlip 1s ease-in-out forwards;
}

@keyframes signinFlip {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50rem) scale(1.1);
  }

  100% {
    transform: translateX(0) rotate(7deg) scale(1);
  }
}



.animatedSignUpOnSignUpCard {
  animation: signupFlip 1s ease-in-out forwards;
}

@keyframes signupFlip {
  0% {
    transform: translateX(0);
    z-index: 1;
  }

  50% {
    transform: translateX(50rem) scale(1.1);
  }

  100% {
    transform: translateX(0) rotate(7deg) scale(1);
  }
}


.animatedSignUpOnSignInCard {
  transform: rotate(7deg);
  animation: rotatecard 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes rotatecard {
  0% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(0);
    z-index: 1;
  }
}
